{% extends 'base.html' %}

{% block title %}Aldrich 75{% endblock %}

{% block head %}
    {% block meta %}
        {{ super() }}
    {% endblock %}

    {% block styles %}
        {{ super() }}
    {% endblock %}
{% endblock %}


{% block body %}
    {% block content %}

        {% block messages %}
            {{ super() }}
        {% endblock %}

        <div class="section" style="top: 30%; position: relative; padding: 30px; margin: auto; width: 50%; max-width: 500px">
            <h5 class="text-center"><i class="fas fa-coins"></i> Sponsor <b>{{ challenge.Participant.Name }}</b> to <b>{{ challenge.Title }}</b></h5>
            {% if challenge.Description != '' %}
                <p style="margin-left: 20px; font-size: small"><i>"{{ challenge.Description }}"</i></p>
            {% endif %}
            <form method="post" action="">
                <div class="form-group" style="max-width: 400px; margin: auto">
                    <label for="Donation"></label>
                    <p>Amount</p>
                    <input class="form-control" aria-autocomplete="none" aria-describedby="money-help" placeholder="Donation" name="Donation" type="number" min="0.00" max="10000.00" step="1" value="15">
                    <small id="money-help">Email <a href="mailto:aldrichhouse75@gmail.com?subject=Help logging in">aldrichhouse75@gmail.com</a> for help</small>
                    <p style="margin-top: 15px; background: darkgray; border-radius: 5px; padding: 3px">This donation will be processed via <b>Paypal</b>, if your wish to pay via debit/credit card a <b>2.9% transaction fee</b> will be added to your donation.</p>
                    <input type="checkbox" class="" aria-describedby="payment-method" checked style="margin-left: 20px" name="paybycard">
                    <small id="payment-method">Pay via debit/credit card instead of Paypal balance</small>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" style="margin-left: 20px">Donate</button>
                <br>
                <small style="padding-left: 20px">You confirm you will complete this transaction successfully</small>
            </form>
        </div>

    {% endblock %}

{% endblock %}