{% extends 'base.html' %}

{% block title %}Aldrich 75{% endblock %}

{% block head %}
    {% block meta %}
        {{ super() }}
    {% endblock %}

    {% block styles %}
        {{ super() }}
    {% endblock %}
{% endblock %}


{% block body %}
    {% block content %}

        {% block messages %}
            {{ super() }}
        {% endblock %}

        <div class="section" style="top: 30%; position: relative; padding: 30px; margin: auto; width: 50%; max-width: 500px">
            <h5 class="text-center"><i class="fas fa-coins"></i> Sponsor <b>{{ challenge.Participant.Name }}</b> to <b>{{ challenge.Title }}</b></h5>
            {% if challenge.Description != '' %}
                <p style="margin-left: 20px; font-size: small"><i>"{{ challenge.Description }}"</i></p>
            {% endif %}
            <form method="post" action="">
                <div class="form-group" style="max-width: 400px; margin: auto">
                    <label for="Donation"></label>
                    <p>Amount</p>
                    <input class="form-control" aria-autocomplete="none" aria-describedby="money-help" placeholder="Donation" name="Donation" type="number" min="0.00" max="10000.00" step="1" value="15">
                    <small id="money-help">Email <a href="mailto:aldrichhouse75@gmail.com?subject=Help logging in">aldrichhouse75@gmail.com</a> for help</small>
                    <p style="margin-top: 15px; background: darkgray; border-radius: 5px; padding: 3px">This donation will be processed via <b>Just Giving</b></p>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" style="margin-left: 20px">Donate</button>
                <br>
            </form>
        </div>

            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Donating</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <h3>Important Donation Information</h3>
                      <br>
                      <p>Donations will be made through <b>Just Giving</b></p>
                      <p>To ensure that our three charities recieve a fair and equal amount you will be redirected automatically to one of the charities</p>
                      <p>On the just giving page please do not change the amount otherwise the donation will be recorded incorrectly</p>
                      <p>On Just Giving you may opt-in to <b>Gift Aid</b>, but bear in mind Just Giving will automatically add a small amount to you donation which you can remove.</p>
                      <br>
                      <p>If you are planning on making a sizeable donation you may prefer to do several smaller donations so that the money is split across the charities more evenly</p>
                  </div>
                  <div class="modal-footer">
                      <small>You are seeing this because this information is important for you to understand how we are handling donations</small>
                  </div>
                </div>
              </div>
            </div>

        <script type="text/javascript">
                $(window).on('load',function(){
                    $('#exampleModalCenter').modal('show');
                });
            </script>

    {% endblock %}

{% endblock %}