{% extends "base.html" %}

{% block title %}Aldrich 75{% endblock %}

{% block head %}
    {% block meta %}
        {{ super() }}
    {% endblock %}

    {% block styles %}
        {{ super() }}
    {% endblock %}
{% endblock %}


{% block body %}
    {% block content %}

        {% block messages %}
            {{ super() }}
        {% endblock %}

        <header>
            <div class="heading" style="padding: 20px">
                <div style="padding-left: 10%; padding-top: 10px; position: absolute">
                    <p class="bold" style="font-size: 60px">Aldrich 75</p>
                    <p style="font-weight: 400"><span style="font-weight: 500; font-size: 30px">#my75</span> is a campaign to raise money for <span style="border-bottom: solid 3px #dd7a34"><a href="https://www.prevent-suicide.org.uk" target="_blank" style="color: white">Grassroots Suicide Prevention</a></span>, <span style="border-bottom: solid 3px #8dc558"><a href="https://amazesussex.org.uk/" target="_blank" style="color: white">Amaze</a></span> & <span style="border-bottom: solid 3px #3b4587"><a href="https://www.buglife.org.uk/" target="_blank" style="color: white">Buglife</a></span>...</p>
                </div>
                <div style="right: 10%; padding-top: 10px; position: absolute">
                    <img style="height: 100px" alt="Aldrich Logo" src="/static/img/Aldrich_logo.png">
                </div>
            </div>
        </header>

        <div class="progress" style="height: 40px">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%; height: 40px">£{{ total|int }} / £7500</div>
        </div>

        <div class="section">
            <h2>Info</h2>

            {% if authenticated or make_challenge %}
                <div class="alert alert-dark">Authenticated: You can {% if make_challenge %}make challenges{% endif %}{% if authenticated %} & view restricted data{% endif %} | <a href="{{ url_for('logout') }}">Logout</a></div>
            {% elif admin %}
                <div class="alert alert-dark">Authenticated: You have admin privileges <a href="{{ url_for('logout') }}">Logout</a></div>
            {% endif %}

            {% if not authenticated or not make_challenge %}
                <div class="alert alert-primary">Please login to increase permissions: <b><a href="{{ url_for('login') }}">login</a></b></div>
            {% endif %}

            <div style="display: flex; flex-flow: row wrap">

                <div class="stat-element" style="background: #dd7a34; color: black">
                    <p style="font-size: medium" class=""><b>Grassroots Suicide Prevention</b></p>
                    <p style="font-size: small; margin-bottom: 0; text-align: justify">They work locally and nationally to arm people with the skills to effectively support someone at risk of suicide. Their work helps save lives by enabling the kind of conversations that can really make a difference.</p>
                    <a href="https://www.prevent-suicide.org.uk" target="_blank" style="font-size: small; color: white">Read more...</a>
                </div>

                <div class="stat-element" style="background: #8dc558; color: black">
                    <p style="font-size: medium" class=""><b>Amaze</b></p>
                    <p style="font-size: small; margin-bottom: 0; text-align: justify">Amaze gives information, advice and support services to families of children and young people with special educational needs and disabilities in Brighton & Hove and Sussex to build their confidence, knowledge, skills and resilience.</p>
                    <a href="https://amazesussex.org.uk/" target="_blank" style="font-size: small; color: white">Read more...</a>
                </div>

                <div class="stat-element" style="background: #3b4587; color: white">
                    <p style="font-size: medium" class=""><b>Buglife</b></p>
                    <p style="font-size: small; margin-bottom: 0; text-align: justify">Buglife has a wealth of practical conservation work predominantly within the UK. With so many species to choose from Buglife has to prioritise work areas meaning that the current focus is predominantly on pollinators and freshwater habitats.</p>
                    <a href="https://www.buglife.org.uk/" target="_blank" style="font-size: small; color: #8dc558">Read more...</a>
                </div>

                <div class="stat-element" style="background: #28a745; color: black; font-size: small">
                        <p style="font-size: medium; color: white"><b>3 Ways to support #my75:</b></p>
                        <p style="font-size: medium; color: black">1. Donate to a pre-chosen charity to balance donations across our charities:</p>
                        <a class="btn btn-success" style="background: black" href="/donate/{{ support_challenge_id }}">Click here to support a pre-chosen charity</a>
                </div>

                <div class="stat-element" style="background: #28a745; color: black; font-size: small">
                    <p style="font-size: medium; color: white"><b>3 Ways to support #my75:</b></p>
                    <p style="font-size: medium; color: black">2. Donate to a charity of your choice:</p>
                        <a class="btn btn-success" style="background: #dd7a34" href="/donate/{{ support_challenge_id }}?charity=Grassroots">Click to support Grassroots Suicide Prevention</a>
                        <a class="btn btn-success" style="background: #8dc558" href="/donate/{{ support_challenge_id }}?charity=Amaze">Click to support Amaze</a>
                        <a class="btn btn-success" style="background: #3b4587; color: white" href="/donate/{{ support_challenge_id }}?charity=Buglife">Click to support Buglife</a>
                </div>

                <div class="stat-element" style="background: #28a745; color: black; font-size: small">
                    <p style="font-size: medium; color: white"><b>3 Ways to support #my75:</b></p>
                    <p style="font-size: medium; color: black">3. Or finally, Donate to a specific challenge below:</p>
                </div>

                <div class="stat-element" style="background: {{ days_colour }}; color: black">
                    <p class="text-center"><b>{{ days }}</b></p>
                    <p style="font-size: small; margin-bottom: 0">{{ days_text }}</p>
                </div>

                <div class="stat-element">
                    <p class="text-center"><b>£{{ '%0.2f' % total|float }}</b></p>
                    {% set total = total|float * 1.25 %}
                    <p style="font-size: small; margin-bottom: 0">Total (Upto £{{ '%0.2f' % total|float }} including Gift-Aid)</p>
                </div>

                <div class="stat-element">
                    <p class="text-center"><b>{{ met_challenges }}</b></p>
                    <p style="font-size: small; margin-bottom: 0">Challenges meeting £75 target</p>
                </div>

                {% if authenticated and days_text != 'Days until start' %}
                    {% if challenge1 %}
                        <div class="stat-element">
                            <p class="text-center" style="font-size: x-large"><b>1. {{ challenge1.Title }}</b></p>
                            <p style="font-size: small; margin-bottom: 0">£{{ '%0.2f' % challenge1.MoneyRaised|float }}</p>
                            <p style="font-size: small; margin-bottom: 0">By: {{ challenge1.Participant.Name }}</p>
                        </div>
                    {% endif %}
                    {% if challenge2 %}
                        <div class="stat-element">
                            <p class="text-center" style="font-size: x-large"><b>2. {{ challenge2.Title }}</b></p>
                            <p style="font-size: small; margin-bottom: 0">£{{ '%0.2f' % challenge2.MoneyRaised|float }}</p>
                            <p style="font-size: small; margin-bottom: 0">By: {{ challenge2.Participant.Name }}</p>
                        </div>
                    {% endif %}
                    {% if challenge3 %}
                        <div class="stat-element" style="font-size: x-large">
                            <p class="text-center"><b>3. {{ challenge3.Title }}</b></p>
                            <p style="font-size: small; margin-bottom: 0">£{{ '%0.2f' % challenge3.MoneyRaised|float }}</p>
                            <p style="font-size: small; margin-bottom: 0">By: {{ challenge3.Participant.Name }}</p>
                        </div>
                    {% endif %}
                {% elif not authenticated and days_text != 'Days until start' %}
                    <div class="stat-element" style="background: black; color: white">
                    <p class="text-center" style="font-size: medium"><i class="fas fa-lock"></i> Login required for leaderboard</p>
                </div>
                {% endif %}

            </div>
        </div>

        <div class="section">
            <h2>Recent donations</h2>
            <div style="display: flex; flex-flow: row wrap">
                {% for donation in donations[:10] %}
                    <div class="card" style="width: 18rem">
                        {% if donation.Charity == 'Grassroots' %}
                            {% set colour = 'black' %}
                            {% set bgcolour = '#dd7a34' %}
                        {% elif donation.Charity == 'Amaze' %}
                            {% set colour = 'black' %}
                            {% set bgcolour = '#8dc558' %}
                        {% elif donation.Charity == 'Buglife' %}
                            {% set bgcolour = '#3b4587' %}
                            {% set colour = 'white' %}
                        {% else %}
                            {% set bgcolour = '#00000008' %}
                            {% set colour = 'black' %}
                        {% endif %}
                        <div class="card-header" style="background: {{ bgcolour }}; color: {{ colour }}">
                            <h5 class="card-title">£{{ '%0.2f' % donation.Amount|float }}</h5>
                        </div>
                        <div class="card-body">
                            {% if donation.message != '' and donation.message != none %}
                                <p>{{ donation.message }}</p>
                            {% else %}
                                <small><i>No message left</i></small>
                            {% endif %}
                            <br>
                            <small>Donated to: {{ donation.Charity }}</small>
                        </div>
                        <div class="card-footer">
                            {% set timestamp = donation.Timestamp|string %}
                            <small>{{ timestamp|truncate(19, killwords=False, end='') }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="section">
            <h2>Challenges</h2>

            <div style="display: flex; flex-flow: row wrap">

                {% for challenge in challenges %}
                    <div class="card" style="width: 18rem;">
                        {% if challenge.URL != '' %}
                            {% if authenticated %}
                                <iframe width="286" height="200" src="{{ challenge.URL }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="background: black"></iframe>
                            {% else %}
                                <div class="card-img-top" style="background: rgba(0, 0, 0, 200); width: 100%; height: 30px">
                                    <p style="color: white" class="text-center"><i class="fas fa-lock"></i> Extra login required for videos</p>
                                </div>
                            {% endif %}
                        {% endif %}
                        <div class="card-img-top" style="background: #090035; width: 100%; padding: 10px">
                            <h5 class="card-title" style="color: white">{{ challenge.Title }}</h5>
                        </div>
                        <div class="card-body">
                            {% if authenticated %}
                                <h6 class="card-subtitle mb-2 text-muted">{{ challenge.Participant.Name.split(' ')[0] }}</h6>
                            {% endif %}
                            <p class="card-text">{{ challenge.Description }}</p>
                            <p><b>Raised: £{{ '%0.2f' % challenge.MoneyRaised|float }}</b></p>

{#                            <span class="d-inline-block" data-toggle="popover" data-content="Donation coming soon">#}
                                <a class="btn btn-primary" style="" href="/donate/{{ challenge.id }}">Donate</a>
{#                            </span>#}

                            {% if authenticated %}
                                {% if challenge.id in my_challenges %}
                                    <a href="/admin/edit/challenge/{{ challenge.id }}" class="btn btn-dark">Edit</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                {% if make_challenge %}
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Add challenge</h5>
                        <a href="{{ url_for('create_challenge') }}" class="btn btn-primary">Add challenge</a>
                      </div>
                    </div>
                {% else %}
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Add challenge</h5>
                        <a href="{{ url_for('login') }}" class="btn btn-dark">Login to create a challenge</a>
                      </div>
                    </div>
                {% endif %}

            </div>
        </div>

        <div class="section">
            <h2>All donations</h2>
            <div style="display: flex; flex-flow: row wrap">
                {% for donation in donations %}
                    <div class="card" style="width: 18rem">
                        {% if donation.Charity == 'Grassroots' %}
                            {% set colour = 'black' %}
                            {% set bgcolour = '#dd7a34' %}
                        {% elif donation.Charity == 'Amaze' %}
                            {% set colour = 'black' %}
                            {% set bgcolour = '#8dc558' %}
                        {% elif donation.Charity == 'Buglife' %}
                            {% set bgcolour = '#3b4587' %}
                            {% set colour = 'white' %}
                        {% else %}
                            {% set bgcolour = '#00000008' %}
                            {% set colour = 'black' %}
                        {% endif %}
                        <div class="card-header" style="background: {{ bgcolour }}; color: {{ colour }}">
                            <h5 class="card-title">£{{ '%0.2f' % donation.Amount|float }}</h5>
                        </div>
                        <div class="card-body">
                            {% if donation.message != '' and donation.message != none %}
                                <p>{{ donation.message }}</p>
                            {% else %}
                                <small><i>No message left</i></small>
                            {% endif %}
                            <br>
                            <small>Donated to: {{ donation.Charity }}</small>
                        </div>
                        <div class="card-footer">
                            {% set timestamp = donation.Timestamp|string %}
                            <small>{{ timestamp|truncate(19, killwords=False, end='') }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Aldrich 75</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <h6>What we are doing:</h6>
                      <p>We are celebrating the 75th birthday of Aldrich House by raising money for our three house charities. But it is not only 75th birthday but also 75 years since the end of the second world war and 75 years of the United Nations.</p>
                      <p>We invite you to donate to any of the challenges on this site or even create a challenge of your own.</p>
                      <br>
                      <h6>How to participate:</h6>
                      <ol>
                          <li>Create a challenge with a goal related to 75 e.g. bake 75 cakes</li>
                          <li>Get family, friends or anyone to sponsor your campaign by visiting this site and donating</li>
                      </ol>
                      <br>
                      <p>Alternatively you can just donate to challenge(s) of your choice or the campaign as a whole</p>
                  </div>
                  <div class="modal-footer">
                      <small>You are seeing this because we think this is your first time on the site (or at least just on this browser)</small>
                  </div>
                </div>
              </div>
            </div>

        {% if popup == False %}
            <script type="text/javascript">
                $(window).on('load',function(){
                    $('#exampleModalCenter').modal('show');
                });
            </script>
        {% endif %}

        <script>
            $(function () {
              $('[data-toggle="popover"]').popover()
            })
        </script>
        <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
    {% endblock %}

    {% block scripts %}
        {{ super() }}
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}
{% endblock %}