{% extends "base.html" %}

{% block title %}Aldrich 75{% endblock %}

{% block head %}
    {% block meta %}
        {{ super() }}
    {% endblock %}

    {% block styles %}
        {{ super() }}
    {% endblock %}
{% endblock %}


{% block body %}
    {% block content %}

        {% block messages %}
            {{ super() }}
        {% endblock %}

        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light justify-content-between" style="background: #7aa5d2">
            <a class="navbar-brand" href="#">
                <img src="/static/img/logo_transparent_icon100.png" width="50" height="50" class="d-inline-block align-top" alt="">
            </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#info">Info</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#recentdonations">Recent Donations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#challenges">Challenges</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#alldonations">All Donations</a>
                  </li>
                  <li class="nav-item">
                      <a href="{{ url_for('about') }}" class="nav-link"><span style="border-bottom: solid 3px #dd7a34">Char</span><span style="border-bottom: solid 3px #8dc558">ity </span><span style="border-bottom: solid 3px #3b4587">Info</span></a>
                  </li>
                </ul>
                  <div class="btn-group-sm">
                      <a class="btn btn-outline-info btn-sm" href="/about?donate=0">Donate</a>
                      {% if not authenticated or not make_challenge %}
                          <a class="btn btn-outline-info btn-sm" href="{{ url_for('login') }}">Login</a>
                      {% else %}
                          <a class="btn btn-outline-success btn-sm" href="{{ url_for('create_challenge') }}">Make Challenge</a>
                          <a class="btn btn-outline-dark btn-sm" href="{{ url_for('logout') }}">logout</a>
                      {% endif %}
                  </div>
              </div>
        </nav>
        <header>
            <div class="heading" style="padding: 20px;">
                <div style="margin-left: 10%; padding: 10px; position: absolute; background: #7aa5d2dd; border-radius: 10px">
                    <p class="bold" style="font-size: 60px">Aldrich 75</p>
                    <p style="font-weight: 400"><span style="font-weight: 500; font-size: 30px">#My75</span> is a campaign to raise money for <span style="border-bottom: solid 3px #dd7a34"><a href="https://www.prevent-suicide.org.uk" target="_blank" style="color: white">Grassroots Suicide Prevention</a></span>, <span style="border-bottom: solid 3px #8dc558"><a href="https://amazesussex.org.uk/" target="_blank" style="color: white">Amaze</a></span> & <span style="border-bottom: solid 3px #3b4587"><a href="https://www.buglife.org.uk/" target="_blank" style="color: white">Buglife</a></span>...</p>
                </div>
                <div style="right: 10%; padding-top: 10px; position: absolute">
{#                    <img style="height: 100px" alt="My75 Logo" src="/static/img/logo_transparent.png">#}
                </div>
            </div>
        </header>

        <div style="height: 160px; display: flex; justify-content: center; padding: 20px">
            <div id="flipdown" class="flipdown" style="background: white; padding: 10px; border-radius: 10px; width: 540px; height: 130px"></div>
        </div>

        <div class="progress" style="height: 40px; border-radius: 0; position: sticky; background: #00000000">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;">£{{ total|int }} / £7500</div>
        </div>

        <div class="section" style="height: 60px; display: block;" id="info">
            <div>
                <h2 class="section-title">Info</h2>
            </div>
        </div>

        <div class="section" style="">

{#            {% if authenticated or make_challenge %}#}
{#                <div class="alert alert-dark">Authenticated: You can {% if make_challenge %}make challenges{% endif %}{% if authenticated %} & view restricted data{% endif %} | <a href="{{ url_for('logout') }}">Logout</a></div>#}
{#            {% elif admin %}#}
{#                <div class="alert alert-dark">Authenticated: You have admin privileges <a href="{{ url_for('logout') }}">Logout</a></div>#}
{#            {% endif %}#}
{##}
{#            {% if not authenticated or not make_challenge %}#}
{#                <div class="alert alert-primary">Please login to increase permissions: <b><a href="{{ url_for('login') }}">login</a></b></div>#}
{#            {% endif %}#}

            <div class="mygrid">

                <div class="stat-element" style="background-image: linear-gradient(45deg, #dd7a34 16.67%, #8dc558 16.67%, #8dc558 33.33%, #3b4587 33.33%, #3b4587 50%, #dd7a34 50%, #dd7a34 66.67%, #8dc558 66.67%, #8dc558 83.33%, #3b4587 83.33%, #3b4587 100%); background-size: 212.13px 212.13px;">
                    <div style="padding: 20px; background: rgba(255, 255, 255, 0.3); border-radius: 10px">
                        <a href="{{ url_for('about') }}" style="color: white;">Charity Info</a>
                    </div>
                </div>

                <div class="stat-element" style="background: #28a745;">
                        <p style="color: white"><b>Support #My75:</b></p>
                        <a class="btn btn-light" href="/about?donate=0">Donate</a>
                </div>

                <div class="stat-element" style="color: black; font-size: small; font-weight: normal; display: flex; flex-direction: column">
                        <img src="/static/img/EnduranceLifeLogo.png" style="width: 150px; position: relative; top: 0; left: 0" alt="Endurance Life Logo">
                        <p style="font-size: small"><b>Sussex Run</b></p>
                        <p style="font-size: x-small">Many of the Aldrich boys and staff are using the world famous Seven Sisters marathon, half-marathon or 10k, to raise money fo the cause. The iconic coastal run coincides with the culmination of the #My75 challenge on 20th March 2021.</p>
                        <p style="font-size: x-small">Those participating includes: Chris Webster, Sue Walker</p>
                        <a class="btn btn-light btn-sm" href="https://www.endurancelife.com/sussex">Visit Site</a>
                </div>

                <div class="stat-element" style="width: 60vw">
                    <div style="display: flex; flex-direction: column;">
                        <div class="mygrid">
                            <div class="stat-element" style="display: flex; flex-direction: column; background: #508AA899">
                                <p style="font-size: small; margin-bottom: 0; margin-top: 3px">Total</p>
                                <p class="text-center" style="font-size: 40px"><b>£{{ '%0.0f' % total|float }}</b><span style="font-weight: 200;">*</span></p>
                                <p style="position: absolute; bottom: 0; font-size: x-small; font-weight: lighter; color: #00000066">*this assumes 85% of donations qualified for gift aid</p>
                            </div>
                            <div class="stat-element" style="display: flex; flex-direction: column; background: #B2CEDE99">
                                <p style="font-size: small; margin-bottom: 0; margin-top: 3px">Challenges raising £75 or more</p>
                                <p class="text-center" style="font-size: 40px"><b>{{ met_challenges }}</b></p>
                            </div>
                            <div class="stat-element" style="display: flex; flex-direction: column; background: #8CDFD699">
                                <p style="font-size: small; margin-bottom: 0; margin-top: 3px">Challenges raising money</p>
                                <p class="text-center" style="font-size: 40px"><b>{{ challenges_raising }}</b></p>
                            </div>
                            <div class="stat-element" style="display: flex; flex-direction: column; background: #6DC0D599">
                                <p style="font-size: small; margin-bottom: 0; margin-top: 3px">Raised in the last 7 days</p>
                                <p class="text-center" style="font-size: 40px"><b>£{{ '%0.0f' % total_weekly|float }}</b><span style="font-weight: 200;">*</span></p>
                                <p style="position: absolute; bottom: 0; font-size: x-small; font-weight: lighter; color: #00000066">*this assumes 85% of donations qualified for gift aid</p>
                            </div>
                        </div>
                    </div>
                </div>

                {% if authenticated and days_text != 'Days until start' %}
                    <div class="stat-element" style="color: black; width: 50vw; min-width: 300px">
                        <p class="text-center" style="font-size: x-large">Leaderboard</p>

                        <div class="mygrid">
                            {% for challenge in topChallenges %}
                                <div class="stat-element" style="width: 200px; display:flex; flex-direction: column;">
                                    <p style="font-size: medium; margin-bottom: 0; margin-right: 70px">£{{ '%0.0f' % challenge.MoneyRaised|float }} | {{ challenge.Title }} <span style="font-size: small; color: #00000099">by {{ challenge.Participant.Name.split(' ')[0] }}</span></p>
                                    <div class="divlink" style="position: absolute; right: 0; height: 100%; width: 70px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; background: #508AA899; display: flex; justify-content: center; align-items: center;">
                                        <a href="/donate/{{ challenge.id }}" style="color: white; display: flex; justify-content: center; vertical-align: center;"><i class="fas fa-arrow-right"></i></a>
                                    </div>
{#                                    <div style=" color: black; display: flex; flex-direction: row; justify-content: center; padding: 20px; background: #B2CEDE44; border-radius: 10px; margin: 10px">#}
{#                                        <p style="font-size: medium; margin-bottom: 0; margin-top: 3px; margin-right: 3px">£{{ '%0.0f' % challenge.MoneyRaised|float }}</p>#}
{#                                    </div>#}
{#                                    <a class="btn btn-sm btn-light" style="" href="#challenge-{{ challenge.id }}">Go To</a>#}
{#                                    <a class="btn btn-sm btn-primary" style="" href="/donate/{{ challenge.id }}">Donate</a>#}

                                    {% if authenticated %}
                                        {% if challenge.id in my_challenges %}
                                            <a href="/admin/edit/challenge/{{ challenge.id }}" class="btn btn-dark">Edit</a>
                                        {% endif %}
                                    {% endif %}
                                </div>

{#                                <div class="card" style="width: 250px;" id="">#}
{#                                <div class="card-body" style="margin-bottom: 40px;">#}
{#                                    <h4>{{ loop.index }}: {{ challenge.Title }}</h4>#}
{#        #}
{#                                    <h6 class="card-subtitle mb-2 text-muted">{{ challenge.Participant.Name.split(' ')[0] }}</h6>#}
{#                                    <a class="btn btn-sm btn-light" style="width: 100px" href="#challenge-{{ challenge.id }}">Go To</a>#}
{#        #}
{#                                    {% if authenticated %}#}
{#                                        {% if challenge.id in my_challenges %}#}
{#                                            <a href="/admin/edit/challenge/{{ challenge.id }}" class="btn btn-dark">Edit</a>#}
{#                                        {% endif %}#}
{#                                    {% endif %}#}
{#                                    <div style="position: absolute; bottom: 0; right: 0; display: flex; justify-content: flex-end; flex-direction: column; font-size: 5px; width: 100px; margin-top: 5px">#}
{#                                        <a class="btn btn-primary" style="" href="/donate/{{ challenge.id }}">Donate</a>#}
{#                                    </div>#}
{#                                    <div style="position: absolute; bottom: 0; left: 5px; display: flex; justify-content: flex-end; flex-direction: column; font-size: 15px">#}
{#                                        <p style="font-size: 30px; margin-bottom: 0; font-weight: bold">£{{ '%0.0f' % challenge.MoneyRaised|float }}</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                            {% endfor %}
                        </div>
                    </div>
                {% elif not authenticated and days_text != 'Days until start' %}
                    <div class="stat-element" style="">
                        <p class="text-center" style="font-size: medium">Leaderboard <i class="fas fa-lock"></i></p>
                    </div>
                {% endif %}

            </div>
        </div>

        <div style="visibility: hidden; height: 0; display: block; padding-top: 0" id="recentdonations"></div>

        <div class="section" id="recentdonationssection">

            <h2 class="section-title"><span style="background: #7aa5d2; padding: 2px; border-radius: 10px">Most Recent donations</span></h2>

            <div class="mygrid">
                {% for donation in donations[:4] %}
                    <div class="card" style="width: 250px">
                        {% if donation.Charity == 'Grassroots' %}
                            {% set colour = 'black' %}
                            {% set bgcolour = '#dd7a3499' %}
                        {% elif donation.Charity == 'Amaze' %}
                            {% set colour = 'black' %}
                            {% set bgcolour = '#8dc55899' %}
                        {% elif donation.Charity == 'Buglife' %}
                            {% set bgcolour = '#3b458799' %}
                            {% set colour = 'white' %}
                        {% else %}
                            {% set bgcolour = '#ffffff99' %}
                            {% set colour = 'black' %}
                        {% endif %}
{#                        <div class="card-header" style="background: {{ bgcolour }}; color: {{ colour }}">#}
{#                            <h5 class="card-title">£{{ '%0.2f' % donation.Amount|float }}</h5>#}
{#                        </div>#}
                        <div class="card-body" style="background: {{ bgcolour }}">
                            {% if donation.message != '' and donation.message != none %}
                                <p style="font-size: 25px">{{ donation.message }}</p>
                            {% else %}
                                <p style="font-size: 15px">No message left</p>
                            {% endif %}
                            <div style="position: absolute; bottom: 0; right: 5px; display: flex; justify-content: flex-end; flex-direction: column; font-size: 5px">
                                <p style="font-size: 30px; margin-bottom: 0; font-weight: bold">£{{ '%0.0f' % donation.Amount|float }}</p>
                            </div>
                            <div style="position: absolute; bottom: 5px; left: 5px; display: flex; justify-content: flex-end; flex-direction: column; font-size: 15px">
                                {% set timestamp = donation.Timestamp|string %}
                                <small>{{ timestamp|truncate(19, killwords=False, end='') }}</small>
                            </div>

                        </div>
                    </div>
                {% endfor %}
                <div class="card" style="width: 250px">
                    <div class="card-body" style="background: #ffffff99">
                        <p style="font-size: 25px">See all donations</p>
                        <a class="btn btn-outline-dark" href="#alldonations">↓↓↓</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="section" style="height: 60px; display: block;" id="challenges">
            <div>
                <h2 class="section-title">Challenges</h2>
            </div>
        </div>

        <div class="section" id="challenges-grid">

            <div class="mygrid">

                <div class="card" style="width: 14rem">
                    <div class="card-body" style="background: #ffffff99; display: flex; align-items: center">
                        {% if make_challenge %}
                            <a href="{{ url_for('create_challenge') }}" class="btn btn-primary">Add challenge</a>
                        {% else %}
                            <a href="{{ url_for('login') }}" class="btn btn-info">Login to create a challenge</a>
                        {% endif %}

                    </div>
                </div>

                {% for challenge in challenges %}
                        {% if challenge.MoneyRaised|float == 0.0 %}
                            {% set bgcolour = '#ffffff99' %}
                        {% elif 0.0 < challenge.MoneyRaised|float < 20 %}
                            {% set bgcolour = '#a8dadc99' %}
                        {% elif 20 <= challenge.MoneyRaised|float < 40 %}
                            {% set bgcolour = '#ffcad499' %}
                        {% elif 40 <= challenge.MoneyRaised|float < 60 %}
                            {% set bgcolour = '#e07a5f99' %}
                        {% elif 60 <= challenge.MoneyRaised|float < 75 %}
                            {% set bgcolour = '#48caef99' %}
                        {% elif 75 <= challenge.MoneyRaised|float < 100 %}
                            {% set bgcolour = '#cdb4db99' %}
                        {% elif 100 <= challenge.MoneyRaised|float < 150 %}
                            {% set bgcolour = '#dd6e4299' %}
                        {% elif 150 <= challenge.MoneyRaised|float < 200 %}
                            {% set bgcolour = '#4c956c99' %}
                        {% elif challenge.MoneyRaised|float >= 200 %}
                            {% set bgcolour = '#80a1d499' %}
                        {% else %}
                            {% set bgcolour = '#ffffff99' %}
                        {% endif %}

                    <div class="card" style="width: 14rem; background: {{ bgcolour }} !important" id="challenge-{{ challenge.id }}">
                        {% if challenge.URL != '' %}
                            {% if authenticated %}
                                <iframe width="224" height="200" src="{{ challenge.URL }}" scrolling="no" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="background: black; border-top-left-radius: 10px; border-top-right-radius: 10px"></iframe>
                            {% else %}
                                <div class="card-img-top" style="background: inherit; width: 100%; height: 30px; border-top-left-radius: 10px; border-top-right-radius: 10px">
                                    <p class="text-center"><a href="{{ url_for('login') }}" style="color: black"><i class="fas fa-lock"></i> Login for videos</a></p>
                                </div>
                            {% endif %}
                        {% endif %}

                        <div class="card-body" style="margin-bottom: 40px;">
                            <h4>{{ challenge.Title }}</h4>

                            <p class="card-text">{{ challenge.Description }}</p>
                            {% if authenticated %}
                                <h6 class="card-subtitle mb-2 text-muted">{{ challenge.Participant.Name.split(' ')[0] }}</h6>
                            {% endif %}

                            {% if authenticated %}
                                {% if challenge.id in my_challenges %}
                                    <a href="/admin/edit/challenge/{{ challenge.id }}" class="btn btn-dark">Edit</a>
                                {% endif %}
                            {% endif %}
                            <div style="position: absolute; bottom: 0; right: 0; display: flex; justify-content: flex-end; flex-direction: column; font-size: 5px; width: 100px; margin-top: 5px">
                                <a class="btn btn-primary" style="" href="/donate/{{ challenge.id }}">Donate</a>
                            </div>
                            <div style="position: absolute; bottom: 0; left: 5px; display: flex; justify-content: flex-end; flex-direction: column; font-size: 15px">
                                <p style="font-size: 30px; margin-bottom: 0; font-weight: bold">£{{ '%0.0f' % challenge.MoneyRaised|float }}</p>
                            </div>
                        </div>
                    </div>

{#                    {% if authenticated %}#}
                        {#                    Geography Gems#}
{#                        {% if challenge.id == 82 %}#}
{#                            <div class="stat-element" style="width: 200px; height: 525px;">#}
{#                                <a class="twitter-timeline" data-height="500" href="https://twitter.com/KT_T_W?ref_src=twsrc%5Etfw">Tweets by KT_T_W</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    {% endif %}#}
                {% endfor %}

            </div>
        </div>

        <div class="section" style="height: 60px; display: block;" id="alldonations">
            <div>
                <h2 class="section-title">All Donations</h2>
            </div>
        </div>

        <div class="section" id="">
            <div class="mygrid">
                {% for donation in donations %}
                    <div class="card" style="width: 200px">
                        {% if donation.Charity == 'Grassroots' %}
                            {% set colour = 'black' %}
                            {% set bgcolour = '#dd7a3499' %}
                        {% elif donation.Charity == 'Amaze' %}
                            {% set colour = 'black' %}
                            {% set bgcolour = '#8dc55899' %}
                        {% elif donation.Charity == 'Buglife' %}
                            {% set bgcolour = '#3b458799' %}
                            {% set colour = 'white' %}
                        {% else %}
                            {% set bgcolour = '#ffffff99' %}
                            {% set colour = 'black' %}
                        {% endif %}
{#                        <div class="card-header" style="background: {{ bgcolour }}; color: {{ colour }}">#}
{#                            <h5 class="card-title">£{{ '%0.2f' % donation.Amount|float }}</h5>#}
{#                        </div>#}
                        <div class="card-body" style="background: {{ bgcolour }}">
                            {% if donation.message != '' and donation.message != none %}
                                <p style="font-size: 15px">{{ donation.message }}</p>
                            {% else %}
                                <p style="font-size: 12px">No message left</p>
                            {% endif %}
                            <div style="position: absolute; bottom: 0; right: 5px; display: flex; justify-content: flex-end; flex-direction: column; font-size: 5px">
                                <p style="font-size: 25px; margin-bottom: 0; font-weight: bold">£{{ '%0.0f' % donation.Amount|float }}</p>
                            </div>
                            <div style="position: absolute; bottom: 5px; left: 5px; display: flex; justify-content: flex-end; flex-direction: column; font-size: 15px">
                                {% set timestamp = donation.Timestamp|string %}
                                <small>{{ timestamp|truncate(19, killwords=False, end='') }}</small>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Aldrich 75</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <h6>What we are doing:</h6>
                      <p>We are celebrating the 75th birthday of Aldrich House by raising money for our three house charities. But it is not only 75th birthday but also 75 years since the end of the second world war and 75 years of the United Nations.</p>
                      <p>We invite you to donate to any of the challenges on this site or even create a challenge of your own.</p>
                      <br>
                      <h6>How to participate:</h6>
                      <ol>
                          <li>Create a challenge with a goal related to 75 e.g. bake 75 cakes</li>
                          <li>Get family, friends or anyone to sponsor your campaign by visiting this site and donating</li>
                      </ol>
                      <br>
                      <p>Alternatively you can just donate to challenge(s) of your choice or the campaign as a whole</p>
                      <br>
                      <p>All totals are estimated assuming 85% of donations qualify for gift aid.</p>
                  </div>
                  <div class="modal-footer">
                      <small>You are seeing this because we think this is your first time on the site (or at least just on this browser)</small>
                  </div>
                </div>
              </div>
            </div>

        {% if popup == False %}
            <script type="text/javascript">
                $(window).on('load',function(){
                    $('#exampleModalCenter').modal('show');
                });
            </script>
        {% endif %}

        <script>
            $(function () {
              $('[data-toggle="popover"]').popover()
            })
        </script>
        <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        <script>
            $(".divlink").click(function() {
              window.location = $(this).find("a").attr("href");
              return false;
            });
        </script>

        <script type="text/javascript" src="../static/js/flipdown.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/flipdown.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            //start flipclock
            new FlipDown(1616198399).start();

          // Add smooth scrolling to all links
          $("a").on('click', function(event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();

              // Store hash
              var hash = this.hash;

              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
        </script>
    {% endblock %}

    {% block scripts %}
        {{ super() }}
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}
{% endblock %}