{% macro render_field(field) %}
    <div class="field">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {% if field.widget.input_type != 'hidden' %}
            {{ field.label }}
        {% endif %}
        {% if field.label.text == 'Name' %}
            {{ field(placeholder=field.label.text, class="form-control", autocomplete="off", style="font-size: small") }}
        {% elif field.label.text == 'Description' %}
            {{ field(placeholder='Optional description', class="form-control", autocomplete="off", style="font-size: small") }}
        {% elif field.label.text == 'Participant' %}
            {{ field(class="", autocomplete="off", style="") }}
        {% else %}
            {{ field(placeholder=field.label.text, class="form-control", style="font-size: small") }}
        {% endif %}
    </div>
{% endmacro %}